## Rapberry Pi modules
# LCD
#adafruit-circuitpython-charlcd
# Sht31d sensor
#adafruit-circuitpython-sht31d
# Scd30 sensor
#adafruit-circuitpython-scd30

# BMP180
#Adafruit-BMP

# pca9685
adafruit-circuitpython-pca9685

# Miscelaneous (busio)
adafruit-blinka
adafruit-circuitpython-busdevice
board

# Other python packages
opencv-python
Flask
asyncio
websockets