## Rapberry Pi modules
# LCD
adafruit-circuitpython-charlcd
# Sht31d sensor
adafruit-circuitpython-sht31d
board
# Scd30 sensor
adafruit-circuitpython-busdevice
adafruit-circuitpython-scd30
# BMP180
Adafruit-BMP

# Miscelaneous (busio)
adafruit-blinka

# Other python packages
opencv-python
Flask
asyncio
websockets